.venv
.vscode
server/storage/*
client/__pycache__
server/__pycache__
server/test_storage/
server/tests/__pycache__
.pytest_cache
__pycache__
tests/__pycache__
Shopify_code_challenege_image_repo.egg-info